.app {
  display: flex;
  overflow-y: hidden;
}

.list-group {
  height: calc(100vh - 90px);
  overflow-y: scroll;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px;
}

.sidebar {
  width: 20%;
  height: 100vh;
  /* border-right: 1px solid #ddd; */
}

.textarea {
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  height: calc(100vh);
  resize: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

.title-textarea {
  border: none;
  resize: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: bolder;
  color: inherit;
  background-color: inherit;
}

.link {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}
.w-100 {
  width: 100% !important;
}
.d-flex {
  display: flex !important;
}

.container {
  margin-top: 30px;
}

.form-group {
  margin-bottom: 1rem;
}
